* {
  box-sizing: border-box;
  color: #ffffff !important;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  background-color: #000000 !important;
  font-size: 1rem;
}

header,
main,
#myAccount {
  width: 90% !important;
  margin: auto;
}

/* NAVBAR */

#logo {
  width: 7rem;
}

#avatar {
  width: 3rem;
}

nav a:hover,
nav a i:hover {
  color: #ffffff !important;
}

/* MAIN */

.alert {
  background-color: #e7969671 !important;
  width: 75%;
  margin: auto;
}

.carouselImg {
  width: 10%;
  opacity: 70%;
}

.carouselImg:hover {
  opacity: 100%;
  transform: scale(1.02);
}

.carousel-control-prev,
.carousel-control-next {
  width: 3rem !important;
}

.carousel-indicators {
  display: none !important;
}

/* FOOTER  */

footer {
  background-color: #000000 !important;
  color: gray !important;
  border-top: 1px solid #80808014;
}

footer section div a {
  text-decoration: none;
  color: gray !important;
}

footer section div a:hover {
  color: #ffffff !important;
}

/* ACCOUNT */

.accountLink:hover {
  color: #0566ee !important;
}

/* PROFILO */

#myProfile {
  width: 60%;
  margin: auto;
}

#myProfileAvatar {
  position: relative;
}

.myPen {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.profileButton1:hover,
.profileButton2:hover {
  background-color: #0566ee !important;
}

.profileButton1:hover {
  color: #ffffff !important;
}
