* {
  box-sizing: border-box;
  color: #ffffff !important;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  background-color: #000000 !important;
  font-size: 1rem;
}

#root {
  width: 90%;
  margin: auto;
}

/* NAVBAR */

#logo {
  width: 7rem;
}

#avatar {
  width: 3rem;
}

nav a:hover,
nav a i:hover {
  color: #ffffff !important;
}

/* MAIN */

.alert {
  background-color: #e7969671 !important;
  width: 75%;
  margin: auto;
}

.carouselImg {
  width: 10%;
  opacity: 70%;
}

.carouselImg:hover {
  opacity: 100%;
  transform: scale(1.02);
}

.carousel-control-prev,
.carousel-control-next {
  width: 3rem !important;
}

.carousel-indicators {
  display: none !important;
}

/* FOOTER  */

footer {
  background-color: #000000 !important;
}

footer section div a {
  text-decoration: none;
}

footer section div a:hover {
  color: #a6a6a6 !important;
}
